.image-block {
  width: 100%;

}

.image-block__full {
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    transition: 1s;

    &:hover {
      opacity: 0.8;
      transition: 1s;
    }
  }

}
