.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  .wrapper();
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-nav__logo-link {
  margin-right: 50px;
}

.main-nav__list {
  display: flex;
  align-items: center;
  flex-basis: 80%;
}

.main-nav__item {
  margin-right: 40px;

  &--txt {
    flex-basis: 450px;
    border-left: 1px solid @base;
    padding-left: 30px;

  }

  &--logo {
    font-size: 0;
  }
}

.main-nav__item-contact {
  display: flex;
  flex-direction: column;
}

.main-nav__txt {
  color: @base;
  font-size: 24px;
}
