.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .wrapper();
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-nav__logo {
  margin-right: 30px;
}
